[project]
	description = 
[access "refs/*"]
  read = group rdo-infra/rdo-release-core
  owner = group rdo-infra/rdo-release-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group rdo-infra/rdo-release-core
	label-Code-Review = -2..+2 group rdo-infra/rdo-release-ptl
	label-Verified = -2..+2 group rdo-infra/rdo-release-ptl
	label-Workflow = -1..+1 group rdo-infra/rdo-release-core
	label-Workflow = -1..+1 group rdo-infra/rdo-release-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group rdo-infra/rdo-release-ptl
	read = group rdo-infra/rdo-release-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group rdo-infra/rdo-release-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
